// Neutral
$neutral-900: #062630;
$neutral-700: #385159;
$neutral-200: #e6e1df;
$neutral-100: #faf5f3;
$neutral-0: #ffffff;

// Light Salmon
$light-salmon-500: #fea36f;
$light-salmon-100: #ffefdf;
$light-salmon-50: #fff5ef;

// Gradients
$text-gradient: linear-gradient(107deg, #ff9a60 -11.37%, #062630 61.84%);
$gradient: linear-gradient(90deg, #ffe2d1 0%, #fff5ef 100%);
